header {
  background-color: white;
  color: black;
  width: 100%;
  max-width: 1052px;
  padding: 92px 24px 0px 24px;
  display: grid;
  grid-template-columns: 400px 280px 220px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.01em;
}

.header-logo {
  width: 148px;
  height: 105px;
}

.header-menu-list {
  margin: 10px 0px 0px 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  min-width: 388px;
}

.header-menu-link-no-bullit {
  list-style: none;
}

.address-menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  line-height: 135%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  min-width: 220px;
}

.onhover:hover {
  text-decoration: none;
}

.banner {
  padding: 96px 0px 0px 0px;
}

.cover {
  position: absolute;
  top: 293px;
  left: auto;
  right: auto;
  width: 1100px;
  height: 727px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay::after {
  content: "";
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.cover-container {
  position: relative;
  z-index: 1;
}

.cover-title {
  padding: 165px 50px 0px 50px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 124%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text-centr {
  display: block;
  text-align: center;
}

.aligned-text-right {
  display: block;
  text-align: right;
}

.spacing-sixty {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0px;
}

.cover-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 116px 50px 51px 78px;
}

.cover-description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border: 1px solid currentColor;
  background: transparent;
  width: 256px;
  height: 51px;
}

.bet-button:hover {
  background-color: rgb(53, 50, 76, 0.7);
  border-color: rgb(53, 50, 76);
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.5);
}

.lots {
  padding: 179px 24px 0px 24px;
}

.lots-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  padding: 0px 0px 27px 40px;
}

.lots-conteiner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 1030px;
  flex-wrap: wrap;
  max-width: 1100px;
}

.lots-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
}

.lots-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: white;
}

.all-lots-style {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  list-style: none;
}

.all-lots-style-href {
  position: relative;
  width: 334px;
  min-height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 51px 40px 48px 40px;
}

.all-lots-style-href:hover {
  color: #616066;
}

.lot-film {
  background-image: url("../images/card-lot-01.jpg");
}

.lot-book {
  background-image: url("../images/card-lot-02.jpg");
}

.lot-pic {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-view-more {
  font-weight: 400;
  font-size: 20px;
  color: black;
  padding-left: 40px;
}

.lots-view-more:hover {
  color: #616066;
}

.about {
  padding: 146px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-conteiner {
  padding-left: 50px;
  width: 250px;
  padding-top: 35px;
}
.logo-black {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-black img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.about-text {
  width: 693px;
  margin-top: 135px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  padding-bottom: 100px;
}

.about-description {
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: black;
}

footer {
  padding: 180px 50px 88px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 60%;
  color: black;
  list-style: none;
}

.footer-menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  line-height: 135%;
}

.footer-menu-link:hover {
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0px 0px 25px 10px;
  min-width: 240px;
}
.youtube img {
  max-width: 48px;
  max-height: 48px;
}

.vk img {
  max-width: 48px;
  max-height: 48px;
}

.pinterest img {
  max-width: 48px;
  max-height: 48px;
}
